[submodule "collective/ploneide/browser/pilot"]
	path = collective/ploneide/browser/pilot
	url = git://github.com/ajaxorg/pilot.git
[submodule "collective/ploneide/browser/dijit"]
	path = collective/ploneide/browser/dijit
	url = git://github.com/dojo/dijit.git
[submodule "collective/ploneide/browser/dojo"]
	path = collective/ploneide/browser/dojo
	url = git://github.com/dojo/dojo.git
