[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.2.x.cfg

extensions += mr.developer

auto-checkout = *
always-checkout = force

package-name = collective.ploneide
package-extras = [test]

parts += 
		 ploneide
		 i18ndude 
		 omelette 
		 releaser

allow-hosts =    
    *.plone.org    
    *.python.org    
    *.zope.org    
    docutils.sourceforge.net    
    effbot.org    
    prdownloads.sourceforge.net

[instance]
eggs +=
    Pillow
    iw.debug

zcml =
    iw.debug

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[ploneide]
recipe = collective.recipe.ploneide

[sources]
collective.recipe.ploneide = git git@github.com:collective/collective.recipe.ploneide.git