
ul.add-new-menu
{
   list-style:none;
}

ul.add-new-menu li
{
   position:relative; 
   width:auto;
   white-space: nowrap;
}

ul.add-new-menu li ul img
{
   width: 16px;
}

ul.add-new-menu ul
{
   position:absolute; 
   left:50px; 
   top:-1px;
   display:none;
   list-style:none;
}

ul.add-new-menu li:hover > ul
{
   display:block;
}

ul.add-new-menu > li > ul
{
   position:absolute;
   left:-41px;
   top:19px;
   display:none;
   list-style:none;
}

ul.add-new-menu > li 
{
   display:inline;
}